
@{
    ViewData["Title"] = "Tampil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tampil</h1>

<p>
    Nama : @Model.Firstname @Model.Lastname<br />
    Alamat : @Model.Address<br />
    Telp : @Model.Telp<br />
</p>

